@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&family=Didact+Gothic&family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/*
Fonts:
font-family: "Biryani", sans-serif;
font-family: "Rambla", sans-serif;
font-family: "Didact Gothic", sans-serif;

Color:
color: #93b999; Donker groen
color: #e4efdb; Licht groen
*/

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: block;
    justify-content: center;
    align-items: center;
}

header {
    height: 100vh;
}

a {
    text-decoration: none;
}

/*The Right-to-Left Color Swap Link Hover Effect*/
.navbar-links a {
    background-image: linear-gradient(
      to right,
      #719176,
      #719176 50%,
      #93b999 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-links a:before{
    content: '';
    background: #719176;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-links a:hover {
   background-position: 0;
  }
  
  .navbar-links a:hover::before{
    width: 100%;
  }


nav {
    font-family: "Rambla", sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav li{
    list-style-type: none;
    margin-right: 2%;
    margin-top: 2%;
}

nav a {
    text-decoration: none;
    color: #93b999;
    font-size: 1.5rem;
    margin-left: 20px;
    transition: 0.3s;
}

nav a:hover {
    color: #e4efdb;
}

.logo {
    margin-top: 1%;
    margin-left: 2%;
    width: 35%;
}

.logo a {
    background-color: none;
}

.logo a:before {
    background: none;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.line-hamburger {
    width: 48px;
    height: 6px;
    background-color: #e4efdb;
    border-radius: 30px;
    margin: 12px 0;
    transition: transform 0.3s ease-in-out;
}

.navbar-links {
    display: flex;
    margin-right: 3%;
}

.nav-links {
    text-decoration: none;
    color: #93b999;
    font-size: 1.5rem;
    margin-left: 20px;
    transition: color 0.3s;
}

.nav-links:hover {
    color: #e4efdb;
}

.landing-page-plant {
    position: fixed;
    top: 0;
    right: 30%;
    width: auto;
    height: 100vh;
    z-index: -1;
}

.landing-page-plant img {
    width: 100%;
    height: 100%;
}

.header-text img {
    margin-left: 2%;
    margin-top: 5%;
}

.header-text p {
    margin-top: 2%;
    margin-left: 2%;
    font-family: "Rambla", sans-serif;
    font-size: 1.25rem;
    width: 40%;
    color: #93b999;
}

.weetjes {
    color: #93b999;
    font-family: "Rambla", sans-serif;
    margin-left: 75%;
    margin-top: 5%;
}

.weetjes h2 {
    font-weight: 600;
    font-size: 1.25rem;
    width: 80%;
    transition: 0.5s;
}

.weetjes p {
    font-size: 1rem;
    width: 70%;
    transition: 0.5s;
}

.weetjes h2:hover {
    color: #e4efdb;
}

.weetjes p:hover {
    color: #e4efdb;
}

.over-ons {
    margin-top: 10%;
    font-family: "Rambla", sans-serif;
}

.over-ons h1 {
    font-weight: 300;
    font-size: 2.5rem;
    margin-left: 5.5%;
}

.over-ons h1 span {
    font-weight: 600;
}

.over-ons p {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    color: #5F5F5F;
    font-size: 2rem;
    width: 83.5%;
}

/*Cards*/
.card-container {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 10%;
}

.card {
    font-family: "Rambla", sans-serif;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 20%;
}

.card img {
    width: 100%;
    height: auto;
}

.card h2 {
    margin: 20px 0 10px;
    font-size: 1.5rem;
    margin-left: 5%;
    color: #93b999;
    font-weight: 300;
}

.card span {
    font-weight: 600;
}

.card p {
    margin-left: 5%;
    width: 90%;
    color: #4F4F4F;
    font-size: 1rem;
}

.card-button {
    margin: 5%;
    margin-left: 10%;
    padding: 20px 20px;
    border-radius: 15px;
    border: none;
    background-color: #93b999;
    color: #ffffff;
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1rem;
    width: 80%;
}

.card-button a {
    color: #ffffff;
}

.card-button a:before {
    background: none;
}

span .card-button {
    margin-top: 9%;
}

.card-button:hover {
    background-color: #719176;
}

/*GALERIJ*/
#gallery-wrap {
    margin-top: 20%;
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#gallery-wrap h1 {
    position: absolute;
    top: 270%;
    margin-left: 2%;
    font-family: "Rambla", sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
}

#gallery-wrap h1 span {
    font-weight: 600;
    font-weight: 600;
}

#backBtn, #nextBtn {
    cursor: pointer;
    width: 2%;
    height: auto;
}

#gallery {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: calc(100% - 100px);
}

#gallery div {
    min-width: calc((100% - 100px) / 3); /*Hoeveel foto's*/
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

#gallery img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

#gallery img.middle {
    transform: scale(1.1);
}

#gallery::-webkit-scrollbar {
    display: none;
}

/*Video*/
#play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 1;
}

#player {
    display: block;
    height: auto;
    width: 50%;
}

.video {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
}

.video-text {
    font-family: "Rambla", sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    margin-left: 5.5%;
    margin-top: 15%;
}

/*Footer*/
footer {
    background-color: #e4efdb;
    margin-top: 15%;
    max-width: 100vw;
    padding-top: 3%;
    position: relative;
    padding-bottom: 5%;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 3%;
    margin-top: 5%;
    position: relative;
}

.socials a {
    background-color: none;
}

.socials a:before {
    background: none;
}

.socials img {
    transition: 0.3s;
    width: 50%;
    height: auto;
}

.socials img:hover {
    opacity: 70%;
}

#contact-nieuwsbrief {
    display: flex;
    justify-content: space-between;
    font-family: "Rambla", sans-serif;
    margin-top: 5%;
    position: relative;
}

.contactinformatie {
    margin-left: 5%;
}

.contactinformatie h1 {
    font-size: 2rem;
    font-weight: 300;
}

.contactinformatie h1 span {
    font-weight: 600;
    color: #93b999;
}

.contactinformatie p {
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 10%;
}

.nieuwsbrief {
    padding: 20px;
    text-align: center;
    margin-right: 5%;
}

.nieuwsbrief h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 300;
}

.nieuwsbrief span {
    color: #93b999;
    font-weight: 600;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 5%;
}

input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #71776D;
    border-radius: 15px;
    width: 250px;
}

input[type="email"]::placeholder {
    color: #ffffff;
    opacity: 50%;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #93b999;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #719176;
}

#bedrijf-fastlinks {
    display: flex;
    justify-content: space-between;
    font-family: "Rambla", sans-serif;
    margin-top: 5%;
    position: relative;
}

.bedrijf {
    margin-left: 5%;
}

.bedrijf h1 {
    font-weight: 300;
    font-size: 2rem;
}

.bedrijf a {
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 1.25rem;
    margin-top: 2%;
}

.bedrijf a {
    background-image: linear-gradient(
      to right,
      #719176,
      #719176 50%,
      #93b999 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .bedrijf a:before{
    content: '';
    background: #719176;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .bedrijf a:hover {
   background-position: 0;
  }
  
  .bedrijf a:hover::before{
    width: 100%;
  }

.privacy-voorwaarden {
    margin-top: 10%;
}

.fastlinks {
    margin-right: 15%;
    margin-top: 1%;
}

.fastlinks a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-size: 1.5rem;
    margin-top: 10%;
}

.fastlinks a {
    background-image: linear-gradient(
      to right,
      #719176,
      #719176 50%,
      #93b999 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .fastlinks a:before{
    content: '';
    background: #719176;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .fastlinks a:hover {
   background-position: 0;
  }
  
  .fastlinks a:hover::before{
    width: 100%;
  }

/*Contactpage*/
.plant-contactpage {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 2%;
}

input {
    font-family: "Rambla", sans-serif;
    color: #000000;
    font-size: 1.25rem;
    background-color: none;
    transition: font-size 0.3s ease;
}

input:focus {
    font-size: 1rem;
}

textarea {
    font-family: "Rambla", sans-serif;
    color: #000000;
    font-size: 1.25rem;
    transition: font-size 0.3s ease;
}

textarea:focus {
    font-size: 1rem;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000000;
    pointer-events: none;
}

.form-control {
    border: none;
    border-radius: 0;
    padding-bottom: 10px;
    outline: none;
    text-align: left;
    width: 100%;
}

.form-group button {
    background-color: #e4efdb;
    color: #000000;
    margin-left: 25%;
}

#main-contactpage {
    display: flex;
    justify-content: space-between;
}

.contact-plaats {
    margin-right: 43%;
    margin-top: 4%;
    font-family: "Rambla", sans-serif;
}

.contact-plaats h2 {
    font-weight: 300;
    font-size: 1.5rem;
}

.contact-plaats p {
    font-size: 1.25rem;
    margin-top: 3%;
}

.socials-contactpage img {
    width: 10%;
    margin-top: 10%;
    margin-right: 3%;
    transition: 0.3s;
}

.socials-contactpage img:hover {
    opacity: 70%;
}

.socials-contactpage a:before {
    background: none;
}

/*Laptop*/
@media only screen and (max-width: 1300px) {
    .logo {
        width: 30%;
    }

    nav li {
        font-size: 1rem;
    }

    .header-text img {
        width: 30%;
    }

    .header-text p {
        font-size: 1.125rem;
        width: 30%;
    }

    .weetjes {
        margin-top: -7%;
    }

    .weetjes h2 {
        font-size: 1rem;
    }

    .weetjes p {
        font-size: 0.875rem;
        width: 90%;
    }

    .over-ons {
        margin-top: 0%;
    }

    .over-ons h1 {
        font-size: 1.875rem;
    }

    .over-ons p {
        font-size: 1.5rem;
    }

    .video-text {
        font-size: 1.875rem;
        margin-left: 10%;
        margin-top: 6%;
    }

    .video video {
        width: 30%;
        margin-top: 5%;
    }

    .socials {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-plaats {
        margin-right: 20%;
        margin-top: 4%;
        font-family: "Rambla", sans-serif;
    }

    .contact-plaats h2 {
        font-size: 1.25rem;
    }
    
    .contact-plaats p {
        font-size: 1rem;
        margin-top: 1%;
    }
    
    .socials-contactpage img {
        width: 7%;
        margin-top: 5%;
    }

    input {
        font-size: 1rem;
    }
    
    input:focus {
        font-size: 0.8125rem;
    }
    
    textarea {
        font-size: 1rem;
    }
    
    textarea:focus {
        font-size: 0.8125rem;
    }

    .plant-contactpage {
        width: 30%;
    }
}

/*Tablet*/
@media only screen and (max-width: 834px) {
    .logo {
        width: 40%;
        margin-top: 3%;
    }
    .landing-page-plant{
        right: 10%;
    }

    .header-text img {
        margin-left: 5%;
        width: 40%;
    }

    .header-text p {
        margin-left: 5%;
        margin-top: 5%;
        width: 50%;
        font-size: 1.25rem;
    }

    /*Hamburger*/
    .navbar-links {
        display: none;
    }

    .hamburger {
        display: block;
        margin-right: 3%;
    }

    nav.active .line-hamburger:nth-child(1) {
        transform: rotate(-45deg) translate(-19px, 6px);
    }

    nav.active .line-hamburger:nth-child(2) {
        opacity: 0;
    }

    nav.active .line-hamburger:nth-child(3) {
        transform: rotate(45deg) translate(-19px, -6px);
    }

    nav.active .navbar-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #f9f9f9;
        width: 100vw;
        height: 100vh;
        padding: 20px;
    }

    .nav-links {
        margin: 10px 0;
    }

    .weetjes {
        display: none;
    }

    /*Cards*/
    .card-container {
        display: block;
        gap: 2%;
        margin-top: 3%;
    }

    .card {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
    }

    .card-button {
        padding: 15px 20px;
        margin-top: 20%;
    }

    span .card-button {
        margin-top: 30%;
    }

    /*Galerij*/
    #gallery-wrap h1 {
        display: none;
    }

    #gallery div { /*Moet nog aan gewerkt worden...*/
        min-width: calc((100% - 100px) / 1);
        margin-left: 30%;
    }

    /*Video*/
    #play {
        top: 60%;
    }

    /*Footer*/
    .fastlinks {
        display: none;
    }

    #bedrijf-fastlinks {
        justify-content: flex-end;
        text-align: right;
        margin-right: 10%;
    }

    /*Contactpage*/
    .contact-plaats {
        margin-right: -15%;
    }

    .contactForm {
        margin-left: 10%;
    }

    .plant-contactpage {
        width: 50%;
    }
}

/*Gsm*/
@media only screen and (max-width: 393px) {
    header {
        height: 50vh;
    }

    /*Hamburger*/
    .line-hamburger {
        width: 29px;
        height: 3.63px;
        margin: 7px 0;
    }

    .logo {
        margin-left: -2%;
    }

    .landing-page-plant {
        display: none;
    }

    .header-text img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        width: 60%;
    }

    .header-text p {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        text-align: center;
        width: 80%;
    }

    .over-ons {
        margin-top: 0%;
    }

    .over-ons h1 {
        font-size: 1.5rem;
    }

    .over-ons p {
        font-size: 0.875rem;
        margin-top: 5%;
    }

    /*Cards*/
    .card-container {
        margin-top: 10%;
    }
    
    .card {
        width: 70%;
    }

    /*Galerij*/
    #gallery-wrap {
        max-width: 100%;
        margin-left: 13%;
    }

    #gallery div {
        margin-left: 40%;
    }

    /*Video*/
    #play {
        width: 5%;
    }

    #player {
        width: 85%;
        margin-top: 10%;
    }

    .video-text {
        font-size: 1.5rem;
        margin-left: 6%;
        margin-top: 15%;
    }

    /*Footer*/
    .socials img {
        width: 100%;
    }

    #contact-nieuwsbrief {
        display: block;
    }

    .contactinformatie {
        text-align: center;
    }

    .contactinformatie h1 {
        font-size: 1.5rem;
    }

    .contactinformatie p {
        font-size: 1rem;
        margin-top: 5%;
    }

    .nieuwsbrief {
        margin-top: 5%;
    }

    .nieuwsbrief h1 {
        font-size: 1.5rem;
    }

    #bedrijf-fastlinks {
        justify-content: center;
    }

    .bedrijf {
        justify-content: center;
        text-align: center;
    }

    .bedrijf h1 {
        font-size: 1.5rem;
    }

    .bedrijf a {
        font-size: 1rem;
    }
}